@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.SignalR.Client
@using Reversi.Web.Services.Interfaces
@inject IGameService GameService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@inject IHttpContextAccessor HttpContextAccessor
<CascadingValue Value="@GameService">
    <div class="flex col-md-5">
		<MessageComponent IsUsersTurn="@IsUsersTurn"/>
		<GameInformation/>
		<ScoreComponent/>
		<br />
		<label><b>Who I am:</b> @WhatColourAmI</label>
    </div>
</CascadingValue>
<div class="flex">
	<table>
		@for (int row = 0; row < DisplayedBoard.Length; row++)
		{
			<tr>
				@for (int col = 0; col < DisplayedBoard[row].Length; col++)
				{
					<td>
                        <TileComponent message="@DisplayedBoard[row][col].ToString()" row="@row" column="@col" OnMoveSelected="MoveSelected" 
                                       ShowLegalSquares="@IsUsersTurn"></TileComponent>
					</td>
				}
			</tr>
		}
	</table>
</div>
@code {
    
    [Parameter]
    public string UserId { get; set; }
    
    public string WhatColourAmI;
    public string[] DisplayedBoard => GameService.GetOutput();

    private bool IsUsersTurn => WhatColourAmI == GameService.GetCurrentPlayer();

    protected async Task MoveSelected(string move)
    {
        var row = int.Parse(move.Split(',')[0]);
        var column = int.Parse(move.Split(',')[1]);

        GameService.PlaceCounter(row, column, UserId);
        if (GameService.IsLastMoveValid())
        {
            await RefreshUI();
        }
    }

    //hub stuff
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub")).Build();

        await hubConnection.StartAsync();

        // Add listener for future connections
        hubConnection.On<string>("AddPlayer",
            async (newUserId) =>
            {
                GameService.AddPlayer(newUserId);
                WhatColourAmI = GameService.GetPlayerColourString(UserId);
                await InvokeAsync(StateHasChanged);
            }
        );

        hubConnection.On<string>("RemovePlayer", _ =>
        {
            GameService.RemovePlayer(UserId);
            InvokeAsync(StateHasChanged);
        });

        await RefreshUI();
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            hubConnection.On("RefreshUI", async () =>
            {
                await InvokeAsync(StateHasChanged);
            });

            await hubConnection.SendAsync("AddPlayerTask", UserId); // todo: consider unhardcoding the string, maybe using nameof keyword?
        }
    }

    async Task RefreshUI() => await hubConnection.SendAsync("RefreshUITask");

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            // await hubConnection.SendAsync("RemovePlayerTask");
            await hubConnection.DisposeAsync();
        }
    }


}
