@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.SignalR.Client
@using Reversi.Web.Services.Interfaces
@inject IGameService GameService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<CascadingValue Value="@GameService">
    <MessageComponent />
    <GameInformation />
    <ScoreComponent />
</CascadingValue>
<label>@WhatColourAmI</label>
<table>
    @for (int row = 0; row < DisplayedBoard.Length; row++)
    {
        <tr>
            @for (int col = 0; col < DisplayedBoard[row].Length; col++)
            {
                <td>
                    <TileComponent message="@DisplayedBoard[row][col].ToString()" row="@row" column="@col" OnMoveSelected="MoveSelected"></TileComponent>
                </td>
            }
        </tr>
    }
</table>
@code {
    public string WhatColourAmI;
    public string[] DisplayedBoard => GameService.GetOutput();

    protected async Task MoveSelected(string move)
    {
        var row = int.Parse(move.Split(',')[0]);
        var column = int.Parse(move.Split(',')[1]);

        GameService.PlaceCounter(row, column, hubConnection.ConnectionId);
        if (GameService.IsLastMoveValid())
        {
            await Send();
        }
    }



    //hub stuff
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        await hubConnection.StartAsync();

        // Add listener for future connections
        hubConnection.On<string>("AddPlayer", (connectionId) =>
        {
            GameService.AddPlayer(hubConnection.ConnectionId);
            WhatColourAmI = GameService.GetPlayerColourString(hubConnection.ConnectionId);
            InvokeAsync(StateHasChanged);
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {       
        if (firstRender)
        {
            hubConnection.On("ReceiveUpdate", () =>
            {
                InvokeAsync(StateHasChanged);
            });

            await hubConnection.SendAsync("AddPlayer");
        }
    }

    async Task Send() => await hubConnection.SendAsync("SendUpdate");

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;


    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
